/******************************************************************
Site Name: Gem Tattoo
Author: @ianmarquette

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	background-color: $beige;
	color: $black;
	font-family: $serif;
	font-size: 100%;
	line-height: 1.6;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 100%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: $sans-serif;
	text-rendering: optimizelegibility;
	font-weight: 500;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	display: inline-block;
	font-size: 2.2em;

}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.masthead {
	display: block;
	max-width: 1000px;
	text-align: center;
	@include auto-margin;

	h1{
		display: none;

	}
}

	.logo {
		@extend .image-replacement;
		display: inline-block;
		margin: 1.6em 1em 0;
		height: 8em;
		width: 8em;
		vertical-align: top;
		@include sprite-bg('logo', 0, 0, false);
	}

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav {
	background: $white;
	margin: 0;
	text-align: center;
	width: 100%;

	li {
		display: inline-block;
		margin: 0 1.3em;

		a {
			display: block;
			margin: 1.55em 0;
			padding: 0;
			text-decoration: none;
			text-transform: uppercase;

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
		}


		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

				}

			}

		}

	} /* end .menu li */

} /* end .nav */

/*********************
OVERLAY ELEMENTS
*********************/

.overlay-elements {
	background: $white;
	@include auto-margin;

}
.about,
.news,
.contact {
	width: 100%;
}

.about, .news, .contact {

	padding: 1.4em 0;
	
	h3{
		margin: 0.15em 0.5em 1.2em;
	}

	p {
		margin: 0 0.5em 1.5em;
	}

}

.about-overlay-close, 
.news-overlay-close,
.contact-overlay-close {
	position: absolute;
	width: 2em;
	height: 2em;
	top: 1.25em;
	right: 0.4em;
	cursor: pointer;
}

.about-overlay-close::before,
.about-overlay-close::after,
.news-overlay-close::before,
.news-overlay-close::after,
.contact-overlay-close::before,
.contact-overlay-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: $black;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.about-overlay-close::after,
.news-overlay-close::after,
.contact-overlay-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.about-overlay-close:hover::before,
.about-overlay-close:hover::after,
.news-overlay-close::before,
.news-overlay-close::after,
.contact-overlay-close::before,
.contact-overlay-close::after {
	background: #333;
}

.contact-details a,
.contact-description a {
	color: $blue;
	text-decoration: none;
}

.facebook-link, .tumblr-link {
	@extend .image-replacement;
	display: inline-block;
	height: 1.6em;
	margin: 0.9em 0 0 0;
	width: 1.6em;
	@include sprite-bg('facebook_icon_blue', 0, 0, false);
	background-position: 8px -597px;
}

.tumblr-link {
	margin-left: 0.6em;
	@include sprite-bg('tumblr_icon_blue', 0, 0, false);
	background-position: 6px -797px;
}

.contact-description a:hover {
	color: $blue;
}



/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	margin-top: 2.2em;
}

/* entry content */
.entry-content {

	img {
		margin: 0 0 1.5em 0;
		max-width: 100%;
		height: auto;
		}

	} /* end .entry-content */

/******************************************************************
GALLERY GRID
******************************************************************/

.main {
	background: $white;
	max-width: 1000px;
	width: 100%;
	@include auto-margin;
}

.og-grid {
	@extend .clearfix;
	list-style: none;
	margin: 0.8em auto 0;
	padding: 1.5em 0em 0 0em;
	text-align: center;
	width: 100%;
}

.og-grid li {
	display: inline-block;
	margin: 0 0.8em 1.6em 0.8em;
	vertical-align: top;
	height: 18.75em;


}

.og-grid li > a,
.og-grid li > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
}

.og-expander {
	position: absolute;
	background: $grey;
	top: auto;
	left: 0;
	width: 100%;
	text-align: left;
	height: 0;
	overflow: hidden;
}

.og-expander-inner {
	padding: 4.8em 1.875em;
	height: 100%;
}

.og-close {
	position: absolute;
	width: 2.5em;
	height: 2.5em;
	top: 1.25em;
	right: 1.25em;
	cursor: pointer;
}

.og-close::before,
.og-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: $black;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.og-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
	background: #333;
}

.og-fullimg {
	width: 100%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.og-fullimg {
	text-align: center;
}

.og-fullimg img {
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
}

.og-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ddd;
	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	-webkit-animation: loader 0.5s infinite ease-in-out both;
	-moz-animation: loader 0.5s infinite ease-in-out both;
	animation: loader 0.5s infinite ease-in-out both;
}

.og-fullimg, 
.og-expander-inner, 
.og-expander { 
	display: none; 
	height: 0; 
}

.og-details { 
	float: none; 
	width: 100%; 
}

@-webkit-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

a.back-to-top {
	@extend .image-replacement;
	background-size: 400%;
	display: block;
	height: 4.6875em;
	margin: 3.2em auto;
	transition: all 0.1s ease-out; 
	width: 4.6875em;
	@include sprite-bg('logo', 0, 0, false);

	&:hover {
		margin-top: 3.4em;
	}
}

/*********************
FOOTER STYLES
*********************/

.footer {
	background: $white;
	clear: both;
	//padding-bottom: 2.15em;

	p {
		display: block;
		float: left;
		margin: 1.5em 0;
		padding: 0 0.6em;
		text-align: right;
		width: 50%;

		&:first-of-type {
			//margin: 2.15em 0 1.6em 0;
			text-align: left;
		}

		a {
			text-decoration: none;
		}
	}
}


